* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    text-rendering: optimizeLegibility;
    font-family: Montez, cursive;
    font-size: 16px;
}
body {
    box-sizing: border-box;
    font-size: 1rem;
}
.s-nav-main {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(gl/burj_dubai_skyscrapers_uae-1920x1200.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
}
.Surface-Us-nav {
    width: 100%;
    background: #fff;
    height: auto;
    padding: 0.8em;
    border-bottom: 3px solid rgba(0, 0, 0, 0.357);
    box-shadow: 5px 5px 80px inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}
.Surface-Us-nav .main-logo {
    color: #000;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: Montez, cursive;
    letter-spacing: 1rem;
    border: 1px solid #000;
    padding: 0.2em;
    border-radius: 2em;
    cursor: pointer;
}
.us {
    font-weight: lighter;
}
.bars {
    border: 1px solid #fff;
    padding: 0.5em;
}
.fa-bars {
    font-size: 1.3em;
    color: #fff;
}
.welcome {
    padding: 7em 10em;
    text-align: center;
}
.welcome h2 {
    color: #fff;
    font-weight: bolder;
    font-family: Lato, sans-serif;
}
.welcome p {
    color: #fff;
    text-transform: capitalize;
    color: #fff;
    font-size: 1.2em;
    font-family: Montez, cursive;
}
.search-section {
    padding: 2em;
    text-align: center;
}
.search-section input[type="text"] {
    padding: 1em;
    width: 50%;
    background: 0 0;
    border: 1px solid #fff;
    border-radius: 2em;
    color: #fff;
    outline: 0;
}

::placeholder {
    color: #fff;
    font-size: 1.2em;
    font-family: Montez, cursive;
}
.main-div {
    width: 100%;
    height: auto;
}
.main-div #random-photos {
    height: auto;
    background: rgba(255, 255, 255, 0.152);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* overflow: hidden; */
    background: #000;
    flex-grow: 1;
}
.main-div #random-photos > img {
    max-width: 100%;
    width: 300px;
    height: 200px;
    margin: 5px;
    transition: all 1s;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}
.main-div #random-photos > img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
@media (max-width: 768px) {
    .welcome {
        padding: 5em 5em;
        text-align: center;
    }
    .main-div #random-photos {
        height: auto;
        background: rgba(255, 255, 255, 0.152);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        background: #000000;
    }
    .search-section input[type="text"] {
        padding: 1em;
        width: 100%;
        background: 0 0;
        border: 1px solid #fff;
        border-radius: 2em;
        color: #fff;
        outline: 0;
    }

    .s-nav-main {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(gl/burj_dubai_skyscrapers_uae-1920x1200.jpg);
        height: 70vh;
        background-repeat: no-repeat;
        background-position: right;
    }
    .Surface-Us-nav .main-logo {
        color: #000;
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 1em;
        font-family: Montez, cursive;
        letter-spacing: 0.6rem;
        border: 1px solid #000;
        padding: 0.2em;
    }
}

@media (min-width: 769px) {
    .welcome {
        padding: 5em 5em;
        text-align: center;
    }

    .main-div #random-photos > img:hover {
        transform: scale(1);
        cursor: pointer;
    }
}

.request {
    padding: 1em;
    border-radius: 3em;
    background: transparent;
    border: none;
    position: absolute;
    right: 27%;
    cursor: pointer;
    outline: none;
}
.fa-search {
    font-size: 1.3em;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 425px) {
    .request {
        right: 15%;
        transform: translateX(50%);
    }
}

@media (max-width: 375px) {
    .request {
        right: 17%;
        transform: translateX(50%);
    }
}

@media (min-width: 426px) {
    .request {
        right: 14%;
        transform: translateX(50%);
    }
}

@media (min-width: 598px) {
    .request {
        right: 12%;
        transform: translateX(50%);
    }
}

@media (min-width: 769px) {
    .request {
        right: 31%;
        transform: translateX(50%);
    }
}

@media (min-width: 1024px) {
    .request {
        right: 30%;
        transform: translateX(50%);
    }
}

.reset-button {
    text-align: center;
}
.reset-button .reset {
    padding: 1em 2em;
    border-radius: 3em;
    outline: none;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.227);
}

.reset-button .reset:hover {
    opacity: .5;
}

.cart {
    color: #fff;
    font-size: 2em;
}